<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BurningAirlinesPTYLTD</title>
</head>
<body>

  <nav>
    <ul>
      <li><a href="#">Home</a></li>
    </ul>
  </nav>

  <button id="bookFlight-button">Book Your Flights Now!</button>

  <div id="main"></div>



  <!--//////////// templates //////////////////////////////-->

  <script id="flightsTemplate" type="text/text-template">
    <div id="flights">
      <h1>Flights</h1>
      <form id="travelForm" action="#">
        <label for="origin">Origin: </label><input type="text" id="origin" />
        <label for="destination">Destination: </label><input type="text" id="destination" />
        <label for="departing">Departing: </label><input type="date" id="departing" />
        <label for="arriving">Arriving: </label><input type="date" id="arriving" />
      </form>
    </div>
  </script>



</body>
</html>
