<!DOCTYPE html>
<html>
<head>
  <title>Burning Airlines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id='main'>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#users/create">Add User</a></li>
        <li><a href="#users/list">View Users</a></li>
        <li><a href="#airplanes/create">Add Planes</a></li>
        <li><a href="#airplanes/list">View Planes</a></li>
        <li><a href="#flights/create">Add Flight</a></li>
        <li><a href="#flights/list">View Flight</a></li>
        <li><a href="#reservations/create">Select Seat</a></li>
        <li><a href="#reservations/list">View Reservation</a></li>
      </ul>
    </nav>
    <div id="content"></div>

    leave it alone
    </div>

  <%= yield %>

</body>
</html>
